/* Adiciona a fonte Mulish (para textos normais) */
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

/* Adiciona a fonte Raleway (para títulos) */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}