@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

/* 2º - Aplicação das fontes (regras globais) */
/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
}

/* Textos normais */
body, p, li, a, span {
  font-family: "Mulish", sans-serif !important;
}